# Ignore Python cache files
__pycache__/
*.py[cod]
*.so

# Ignore environment files and folders
.env
*.env
env/

# Ignore uploaded resumes
uploads/

# Ignore large model folders
roberta_resume/
final_qg_model/

# Ignore other cache and logs
*.log
*.tmp
*.DS_Store

# VSCode settings (optional)
.vscode/
